

$base-font-size: 16px;

// === COLORS ===
$bg-color:#439451; 
$primary-color: #439451;
$secondary-color: #21442c;
$dark-color:#000000;
$text-color:#646D82;

$link-low: #01279c;
$blue-color: #1b87f7;
$error:#e3342f;
$black-color:#292929;
$border-color:#eaeaea;
$border-mild:rgba(230,230,230,0.48);







